@using OAuth20.Server.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<ManageController> Localizer
@inject IHtmlLocalizer<ManageController> HtmlLocalizer
@{
    ViewData["Title"] = "Reset authenticator key";

}

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
     
        @HtmlLocalizer["resetauthinfo"]        
      
    </p>
</div>
<div class="container" style="margin-top:30px;margin-bottom:130px">
    <div class="row justify-content-md-center" style="margin-top:130px;">
        <div class="col-md-5">
            <div class="card">
                <h5 class="card-header text-white" style="color:#77B756;background-color:#77B756">@HtmlLocalizer["Resetauthenticatorkey"]</h5>
                <div class="card-body">
                    <form asp-action="ResetAuthenticator" method="post" class="px-4 py-3">
                        <button class="btn btn-primary" type="submit">@HtmlLocalizer["Resetauthenticatorkey"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>