@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forgot Password Confirmation</h1>
<p>
    The email has been sent. Please check your email to reset your password.
</p>